*{
    padding: 0;
    margin: 0;
}

td {
    border: 10px solid black;
    height: 225px;
    width: 225px;
    text-align: center;
    vertical-align: middle;
    font-size: 150px;
    font-family: 'Ewert', cursive;
    cursor: pointer;
}

table {
    border-collapse: collapse;  
    text-align: center;
    top: 10px;
    margin-top: 0px;
}

table tr:first-child td {
    border-top: 0px;
}
table tr:last-child td {
    border-bottom: 0px;
}
table tr td:first-child {
    border-left: 0px;
}
table tr td:last-child {
    border-right: 0px;
}

.endgame {
    display: none;
    background-color: rgba(205,133,63,0.8);
    left: 50%;
    margin-left: -175px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
   
    width: 350px;
    height: 150px;
    top: 120px;
    font-size: 2em;
}

.name {
    text-align: center;
    position: relative;

}

.button {
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.name {
    margin: 5px;
}

body{
    width: 100%;
    height: 100%;
}

.container {
height: 100vh;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
transition: 20s;
position: absolute;

animation-name: animate;
animation-direction: normal;
animation-duration: 300s;
animation-fill-mode: none;
animation-iteration-count: infinite;
animation-play-state: running;
animation-timing-function: ease;
}

@keyframes animate{
0%{background-image:url(img/pic1.jpg);}
5%{background-image:url(img/pic2.jpg);}
10%{background-image:url(img/pic3.jpg);}
15%{background-image:url(img/pic4.jpg);}
20%{background-image:url(img/pic5.jpg);}
25%{background-image:url(img/pic6.jpg);} 
30%{background-image:url(img/pic7.jpg);}
35%{background-image:url(img/pic8.jpg);}
40%{background-image:url(img/pic9.jpg);}
45%{background-image:url(img/pic10.jpg);} 
50%{background-image:url(img/pic11.jpg);}
55%{background-image:url(img/pic12.jpg);}
60%{background-image:url(img/pic13.jpg);}
65%{background-image:url(img/pic14.jpg);}
70%{background-image:url(img/pic15.jpg);}
75%{background-image:url(img/pic16.jpg);}
80%{background-image:url(img/pic17.jpg);}
85%{background-image:url(img/pic18.jpg);}
90%{background-image:url(img/pic19.jpg);}
95%{background-image:url(img/pic20.jpg);}
100%{background-image:url(img/pic21.jpg);}
}

