* {
    
}


td {
    border: 2px solid #333;
    height: 225px;
    width: 225px;
    text-align: center;
    vertical-align: middle;
    font-size: 70px;
    font-family: 'Ewert', cursive;
    cursor: pointer;
}

table {
    border-collapse: collapse;  
    text-align: center;
    top: 10px;
    margin-top: 0px;
    background-image: cross-fade();
}

table tr:first-child td {
    border-top: 0px;
}
table tr:last-child td {
    border-bottom: 0px;
}
table tr td:first-child {
    border-left: 0px;
}
table tr td:last-child {
    border-right: 0px;
}

.endgame {
    width: 200px;
    top: 120px
    background-color: rgba(0,0,0,.3);
    postion: absolute;
    border-radius: 5px;:
    color: white:
    font-size: 2em;
}

.name {
    text-align: center;

}

.meh {
    position: relative;
    margin-top: 0px;
}

.button {
    text-align: center;
    margin: 0px 0px 0px 0px;
}

body{
    background-image: url(img/pic1.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.name {
    background-image: none;
    margin: 5px;
}